*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.room{
    margin-left: 36.5%;
    margin-top: 12%;
}

.rai{
    margin-left: 39%;
    padding: 33px;
}

.rai input{
    margin: 2px;
    padding: 10px 29px;
    border: 4px solid black;
}

.container{
    margin-left: 40%;
}


.button{
    flex: auto;
    display: flexbox;
    align-items: end;
    width: 55px;
    padding: 11px;
    margin: 6px;
    font-size: 19px;
}